<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe?.imagePath" [alt]="recipe?.name" class="img-responsive" />
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe?.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" appDropdown>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button">
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="addIngredients(recipe)">To Shopping List</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="navigate()">Edit Recipe</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipe?.desc}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Ingredients</h2>
        <ul>
            <li *ngFor="let ing of recipe?.ingredients">{{ing.name}} - {{ing.amount}}</li>
        </ul>
    </div>