<div class="row">
    <div class="col-xs-12">
        <form >
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ingredient Name" />
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount" />
                </div>
                <div class="row">
                    <div class="col-xs-12 m-1">
                        <button type="submit" class="btn btn-success me-1">Add</button>
                        <button type="reset" class="btn btn-primary me-1">Clear</button>
                        <button type="button" class="btn btn-danger me-1">Delete</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>